@model alKafi.Models.CustomerTbl

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerTbl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Postmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Postmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsBlacklist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsBlacklist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerAddressAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerAddressAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerAddressEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerAddressEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerStreetAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerStreetAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerStreetEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerStreetEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerReginAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerReginAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerReginEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerReginEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerMadinaAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerMadinaAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerMadinaEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerMadinaEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerStatusAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerStatusAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerStatusEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerStatusEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerChildNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerChildNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnernameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnernameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custnote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custnote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BulldingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BulldingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdExpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdExpdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlaceOfIssued)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlaceOfIssued)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlaceOfBirthdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlaceOfBirthdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDateofbirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDateofbirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiilingNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiilingNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FillingPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FillingPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KidsNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KidsNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SakanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SakanType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issickpeople)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issickpeople)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isoldpeoplr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isoldpeoplr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visanum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visanum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusJop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusJop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusWifeOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusWifeOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusSonOld)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusSonOld)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CusAccId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CusAccId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
