@model alKafi.Models.AqedTbl

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AqedTbl</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visadate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visadate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalityId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalityId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDefined)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDefined)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IjazaNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IjazaNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirportId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirportId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SevenCond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SevenCond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EightCond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EightCond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FourteenCond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FourteenCond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsVip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MuaqpMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MuaqpMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MuaqpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MuaqpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedPeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedPeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleginId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleginId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReturned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReturned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWakeel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWakeel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wakeelname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wakeelname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedDateH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedDateH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaIsOur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaIsOur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPayedForVisa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPayedForVisa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaakherAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaakherAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficerequirmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficerequirmentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAqed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAqed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutsidemouqebMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutsidemouqebMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutsidemouqebId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutsidemouqebId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostCenterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostCenterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurnceyId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurnceyId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillMainId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillMainId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillDeleteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillDeleteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillRecId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillRecId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ckvisa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ckvisa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ckarrivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ckarrivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisCountVl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisCountVl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ckstat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ckstat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusanedTotalMoney)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusanedTotalMoney)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusanedTotalPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusanedTotalPayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusanedTotalPayedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusanedTotalPayedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusanedToOurAccountPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusanedToOurAccountPayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusanedToOurAccountPayedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusanedToOurAccountPayedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhoPayedToMusaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhoPayedToMusaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AqedStatusInMusaned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AqedStatusInMusaned)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Taxval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Taxval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SadadType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SadadType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChvisaDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChvisaDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearIdRet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearIdRet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalBillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalBillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalYearId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalYearId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalRetBillId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalRetBillId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalRetYearId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalRetYearId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ckticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ckticket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CkticketDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CkticketDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
